
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main-color:#0075ff;
    --main-radius:5px;
    --main-padding:5px;
}
.container {
    padding: 10px;
    margin: 5px;
}
.container > h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color:#03A9F4;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: -43px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px;
}

nav .logo  img {
    width: 150px;
    height: 150px;
}
header nav input {
    width: 40%;
    height: 20px;
    padding: 20px;
    outline: none;
    border: 1px solid var(--main-color);
    border-radius: var(--main-radius);
    -webkit-border-radius: var(--main-radius);
    -moz-border-radius: var(--main-radius);
    -ms-border-radius: var(--main-radius);
    -o-border-radius: var(--main-radius);
}
header nav i {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
} 